* {
  margin: 0px;
  padding: 0px;
} .navB ul {
  display: flex;
  padding:0 0 0 10px;
} .navB li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5.5vh;
  width: 100%;
} .navB {
  display: flex;
  height: 5.5vh;
  width: 69%;
  justify-content: flex-start;
  position: fixed;
} .m-logo {
  height:1em;
  width: auto;
} main {
  max-height: 90vh;
  overflow-y: scroll;
  padding: 5px;
}
/* width */
main::-webkit-scrollbar {
  width: 5px;
}

/* Track */
main::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
main::-webkit-scrollbar-thumb {
  background: rgba(150,0,0,0);
  border-radius: 10px;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  min-height: 93vh;
  padding-top: 3.5em;
} .inner-container .left-nav , .inner-container .right-nav {
  width: 15vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} .left-nav {
  position: relative;
  font-size: 16pt;
} .active-nav{
  font-weight: bold;
} nav {
  cursor: pointer;
} .inner-container main {
  width: 35vw;
} .inner-container nav {
  display: flex;
  height: 3em;
  align-items: center;
  padding: 0 20px 0 10px;
  border-radius: 20px;
  width: fit-content;
} a {
  text-decoration: none;
  color: black;
 
} .post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 50vh;
} .post-form input , textarea {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: .5em;
  border-radius: 15px;
} .bton-holder {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: .5em;
}.bton-holder span {
  justify-self: flex-start;
  width: 87.5%;
} .form-header {
  width: 50%;
  padding-left: .5em;
} .usr-lnk {
  position: absolute;
  bottom: 0;
  font-weight: 600;
  color: gray;
} .usr-lnk-exp {
  position: absolute;
  bottom: 3.5em;
  box-shadow: 1px 1px 10px 1px black;
  width: 70%;
  display: none;
}

#profile-cont {
  display: none;
} .post-container {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px 1px black;
  padding: 15px;
  margin-bottom: 1em;
} .post-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: .5em;
  font-weight: bold;
} .post-body {
  padding-top: .5em;
} .post-title {
  display: block;
  font-weight: 500;
} .post-img-cont {
  display: block;
  width: 100%;
  overflow: hidden;
} .post-img-cont img {
  width: 100%;
  height: auto;
} .post-time {
  display: block;
  font-weight: 300;
  font-size: 8pt;
} .profile-pic {
  height: 5em;
  width: 5em;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #aaa; 
  background-color: black;
} .wc{
  margin-top: -2.5em;
} .profile-pic img {
  width: 100%;
  height: auto;
} .nav-right {
  display: flex;
  height: 5.5vh;
  align-items: center;
  margin-left: auto;
  justify-self: flex-end;
} .nav-right input {
  height: 4vh;
  width: 15vw;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
} .profile-cover {
  min-height: 20vh;
  overflow: hidden;
} .cover-pic {
  height: 20vh;
  overflow: hidden;
} .cover-pic img {
  width: 100%;
  height: auto;
} .profile-desc button {
  float: right;
  margin-top: -3em;
} .profile-desc {
  padding-bottom: 1em;
} .profile_p {
   height: 2em;
  width: 2em;
  overflow: hidden;
  border-radius: 100%;
  margin-right: .2em;
  border: 2px solid #aaa; 
  background-color: black;
} .profile_p img {
  width: 100%;
  height: auto;
} .post-head a:hover {
  color: rgb(0,0,0);
}